/* app.blade.php */
.container {
    margin-bottom: 12px;
}

/* admin.blade.php */
.admin__wrapper {
    width: 80%;
    margin: 0 auto 64px;
    background: #fff;
}

.admin-title {
    padding: 32px;
    margin-bottom: 16px;
    text-align: center;
    background: rgb(100, 140, 250);
    color: #fff;
    font-size: 28px;
}

.admin__outer {
    min-height: 300px;
}

.admin__header {
    padding: 8px 0px 8px 16px;
    margin: 0 16px 16px;
    border-bottom: 1px solid #ccc;
}

.header-item,
.header-item--select,
.header-item--authorization,
.header-item--remove {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.header-item {
    width: calc((100% / 6) - 8px);
}

.header-item--select {
    width: 29%;
}

.header-item--authorization,
.header-item--remove {
    width: 10%;
    text-align: center;
}

.admin__content {
    margin-bottom: 64px;
}

.database-data {
    position: relative;
    padding: 32px 16px;
    margin: 0 16px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
}

.database-data:nth-child(odd) {
    background: rgb(230, 230, 230);
}

.database-item {
    display: inline-block;
    width: calc((100% / 6) - 8px);
}

.form--authorization {
    position: absolute;
    left: calc(((100% / 6) - 8px) * 3);
    display: inline-block;
    width: 44%;
}

.select-wrap {
    display: inline-block;
    width: 70%;
    margin-right: 6%;
}

.select-shop {
    width: 100%;
    padding: 8px 0;
    margin-right: 10%;
    font-weight: bold;
}

.database-item--authorization {
    display: inline-block;
}

.btn {
    padding: 8px 12px;
    background: rgb(60, 110, 250);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.form--remove {
    position: absolute;
    top: 28px;
    left: calc(((100% / 6) - 8px) * 3 + 44%);
    display: inline-block;
}

.database-item--remove {
    padding-top: 4px;
}

.paginate {
    margin-top: 32px;
    padding-bottom: 40px;
    text-align: center;
}

.paginate-prev,
.paginate-next {
    color: rgb(80, 174, 251);
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 12px 12px;
    background: #fff;
    vertical-align: middle;
    cursor: pointer;
}

.current {
    color: rgb(80, 174, 251);
    border: 1px solid #ddd;
    padding: 6px 12px;
    background: #fff;
    vertical-align: middle;
    font-size: 20px;
}

.admin__contact {
    width: 70%;
    height: auto;
    margin: 0 auto 64px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
    background: #fff;
    font-size: 20px;
    font-weight: bold;
}

.contact-form {
    padding: 16px;
}

.form-item {
    margin-bottom: 16px;
}

.form-item:last-of-type {
    margin-bottom: 32px;
}

.label--title,
.label--message {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}

.label--message {
    vertical-align: top;
}

.input {
    width: 50%;
    padding: 8px;
    margin-bottom: 16px;
    font-weight: bold;
}

.textarea {
    width: 70%;
    height: 300px;
    padding: 8px;
    font-weight: bold;
}

.success-message {
    margin: 0 0 16px 8px;
    color: rgb(125, 250, 80);
    font-weight: bold;
}

.error-message {
    margin: 0 0 16px 8px;
    color: rgb(250, 80, 80);
    font-weight: bold;
}

.admin__import,
.admin__upload {
    width: 70%;
    padding-bottom: 32px;
    margin: 0 auto 64px;
    background: #fff;
    font-weight: bold;
}

.import-csv,
.upload-image {
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding-top: 12px;
    margin-bottom:32px;
}

.input-csv,
.input-image {
    display: none;
}

.select-csv,
.select,
.select-image {
    display: inline-block;
    width: 300px;
    padding: 8px;
    margin-left: 16px;
    font-weight: bold;
    border: none;
    border: 2px solid rgb(230, 230, 230);
    overflow: scroll hidden;
}

.select-csv::-webkit-scrollbar,
.select::-webkit-scrollbar,
.select-image::-webkit-scrollbar {
    display: none;
}

.message {
    text-align: center;
}

.select-image {
    margin-left: 0;
}

.select-image__area {
    text-align: center;
}

.delete-image__area {
    text-align: center;
}

.select-csv,
.select {
    position: absolute;
    top: 2px;
}

.submit,
.delete-image {
    display: block;
    width: 30%;
    padding: 8px 0;
    margin: 16px auto;
    background: rgb(60, 110, 250);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

/* bootstrap-4.blade.php styling */
.page {
    display: inline-block;
}

.pagination {
    display: flex;
    list-style-type: none;
}

.page-item {
    border: 1px solid #ddd;
    padding: 6px 12px;
    text-align: center;
    background: #fff;
}

.page-link {
    color: rgb(110, 160, 230);
}

@media (max-width: 768px) {
    .admin__wrapper {
        width: 90%;
    }

    .admin--title {
        font-size: 24px;
    }

    .admin__outer {
        width: 100%;
        overflow: scroll hidden;
    }

    .admin__inner {
        width: 700px;
        text-wrap: nowrap;
    }

    .header-item,
    .header-item--select,
    .header-item--Authorization,
    .header-item--remove {
        font-size: 16px;
    }

    .database-data {
        font-size: 16px;
    }

    .admin__contact {
        width: 90%;
    }

    .label--title,
    .label--message {
        display: block;
        width: 100%;
    }

    .input {
        width: 70%;
    }

    .textarea {
        width: 100%;
    }

    .submit,
    .delete-image {
        width: 80%;
        font-size: 20px;
    }

    .admin__import,
    .admin__upload {
        width: 90%;
    }

    .select-image {
        margin: 0;
        font-size: 12px;
    }

    .label--csv,
    .label--image {
        display: block;
        width: 200px;
        margin: 0 16px 16px;
        padding: 8px 0;
    }

    .select-csv,
    .select {
        position: static;
        display: block;
        margin-bottom: 16px;
    }

    .delete-image {
        display: block;
        margin: 16px auto 0;
    }
}
