/* app.blade.php */
.container {
    margin-bottom: 12px;
}

.admin__wrapper {
    width: 80%;
    margin: 0 auto 64px;
    background: #fff;
}

.admin__title {
    padding: 32px;
    margin-bottom: 16px;
    text-align: center;
    background: rgb(100, 140, 250);
    color: #fff;
}

.admin__outer {
    min-height: 300px;
}

.admin__header {
    padding: 8px 0px 8px 16px;
    margin: 0 16px 16px;
    border-bottom: 1px solid #ccc;
}

.header-item,
.header-item--select,
.header-item--authorization,
.header-item--remove {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.header-item {
    width: calc((100% / 6) - 8px);
}

.header-item--select {
    width: 29%;
}

.header-item--authorization,
.header-item--remove {
    width: 10%;
    text-align: center;
}

.admin__content {
    margin-bottom: 64px;
}

.database__data {
    position: relative;
    padding: 32px 16px;
    margin: 0 16px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
}

.database__data:nth-child(odd) {
    background: rgb(230, 230, 230);
}

.database__item {
    display: inline-block;
    width: calc((100% / 6) - 8px);
}

.form--authorization {
    position: absolute;
    left: calc(((100% / 6) - 8px) * 3);
    display: inline-block;
    width: 44%;
}

.select-wrap {
    display: inline-block;
    width: 70%;
    margin-right: 6%;
}

.select-shop {
    width: 100%;
    padding: 8px 0;
    margin-right: 10%;
    font-weight: bold;
}

.database__item--authorization {
    display: inline-block;
}

.form--remove {
    position: absolute;
    top: 28px;
    left: calc(((100% / 6) - 8px) * 3 + 44%);
    display: inline-block;
}

.database__item--remove {
    padding-top: 4px;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: rgb(60, 110, 250);
    color: #fff;
}

.paginate {
    margin-top: 32px;
    padding-bottom: 40px;
    text-align: center;
}

.paginate__prev,
.paginate__next {
    color: rgb(80, 174, 251);
    font-size: 12px;
    border: 1px solid #ddd;
    padding: 12px 12px;
    background: #fff;
    vertical-align: middle;
    cursor: pointer;
}

.current {
    color: rgb(80, 174, 251);
    border: 1px solid #ddd;
    padding: 6px 12px;
    background: #fff;
    vertical-align: middle;
    font-size: 20px;
}

.admin__contact {
    width: 70%;
    height: auto;
    padding: 16px;
    margin: 0 auto 64px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
    background: rgb(60, 110, 250);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.contact__title {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center
}

.form__item {
    margin-bottom: 16px;
}

.label,
.label--message {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}

.label--message {
    vertical-align: top;
}

.input {
    width: 50%;
    padding: 8px;
    margin-bottom: 16px;
    font-weight: bold;
}

.textarea {
    width: 70%;
    height: 300px;
    padding: 8px;
    font-weight: bold;
}

.success-message {
    margin: 0 0 16px 8px;
    color: rgb(125, 250, 80);
    font-weight: bold;
}

.error-message {
    margin: 0 0 16px 8px;
    color: rgb(250, 80, 80);
    font-weight: bold;
}

.submit {
    width: 30%;
    display: block;
    padding: 8px 0;
    margin: 0 auto;
    background: #fff;
    color: rgb(70, 115, 250);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.admin__upload {
    width: 70%;
    height: auto;
    padding-bottom: 32px;
    margin: 0 auto;
    background: #fff;
    font-weight: bold;
    text-align: center;
}

.upload-image {
    padding-top: 16px;
    margin-bottom: 32px;
}

.label-image {
    padding: 5px 20px;
    background: rgb(230, 230, 230);
    cursor: pointer;
    transition: .3s;
}

.label-image:hover {
    opacity: .5;
}

.input-image {
    display: none;
}

.submit-image {
    width: 30%;
    display: block;
    padding: 8px 0;
    margin: 16px auto 32px;
    background: rgb(60, 110, 250);;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.select-image {
    min-width: 180px;
    padding: 8px;
    margin-left: 16px;
    margin-right: 32px;
    font-weight: bold;
    border: none;
    border: 2px solid rgb(230, 230, 230);
}

.delete-image {
    display: inline-block;
    padding: 8px 24px;
    background: rgb(60, 110, 250);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

/* bootstrap-4.blade.php styling */
.page {
    display: inline-block;
}

.pagination {
    display: flex;
    list-style-type: none;
}

.page-item {
    border: 1px solid #ddd;
    padding: 6px 12px;
    text-align: center;
    background: #fff;
}

.page-link {
    color: rgb(110, 160, 230);
}

@media (max-width: 768px) {
    .admin__wrapper {
        width: 90%;
    }

    .admin__title {
        font-size: 24px;
    }

    .admin__outer {
        width: 100%;
        overflow: scroll hidden;
    }

    .admin__inner {
        width: 700px;
        text-wrap: nowrap;
    }

    .header-item,
    .header-item--select,
    .header-item--Authorization,
    .header-item--remove {
        font-size: 16px;
    }

    .database__data {
        font-size: 16px;
    }

    .admin__contact {
        width: 90%;
    }

    .label,
    .label--message {
        display: block;
        width: 100%;
    }

    .input {
        width: 70%;
    }

    .textarea {
        width: 100%;
    }

    .submit {
        width: 100%;
        font-size: 20px;
    }

    .admin__upload {
        width: 90%;
    }

    .select-image {
        margin: 0;
        font-size: 12px;
    }

    .label-image {
        display: block;
        width: 200px;
        margin: 0 auto 16px;
        padding: 8px 0;
    }

    .delete-image {
        display: block;
        margin: 16px auto 0;
    }
}
