/* app.blade.php */
.container {
    margin-bottom: 0px;
}

.mypage__container {
    width: 90%;
    margin: 0 auto;
}

.user-name {
    text-align: center;
    margin-bottom: 32px;
}

.mypage__inner {
    width: 100%;
    display: flex;
}

.reservation__content {
    width: 50%;
}

.mypage__title {
    font-size: 20px;
    margin-bottom: 16px;
}

.reservation__area {
    width: 80%;
    height: auto;
    min-height: 310px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
    background: rgb(60, 110, 250);
    color: #fff;
}

.reservation-header {
    padding: 40px 0 24px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation-title {
    display: flex;
    align-items: center;
}

.clock {
    font-size: 28px;
    margin-right: 24px;
    color: #fff;
}

.cancel {
    vertical-align: top;
    border: none;
    background: inherit;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}

.reservation__item {
    padding: 12px 32px;
    display: flex;
}

.reservation__item--title {
    width: 30%;
    cursor: pointer;
}

.reservation__item--data {
    width: 120px;
    border: none;
    background: inherit;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.number {
    width: 20px;
}

.error-message {
    color: rgb(250, 80, 80);
    margin: 0 0 8px 32px;
}

.update {
    border: none;
}

.favorite__content {
    width: 50%;
    font-size: 16px;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(2, calc((100% / 2) - 32px));
    column-gap: 64px;
    row-gap: 32px;
}

.item {
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
}

.image {
    width: 100%;
    height: 160px;
    border-radius: 4px;
    object-fit: cover;
}

.item__content {
    padding: 16px 16px 32px 32px;
}

.category {
    margin-bottom: 16px;
}

.item__inner {
    display: flex;
    justify-content: space-between;
}

.details {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: rgb(60, 110, 250);
    color: #fff;
}

.bookmark {
    vertical-align: middle;
    font-size: 36px;
    text-decoration: none;
    color: red;
}

@media (max-width: 768px) {
    .mypage__container {
        padding-bottom: 48px;
    }

    .mypage__inner {
        display: block;
    }

    .reservation__content {
        width: 100%;
        margin-bottom: 48px;
    }

    .reservation__area {
        width: 100%;
    }

    .favorite__content {
        width: 100%;
    }

    .item-list {
        grid-template-columns: repeat(2, calc((100% / 2) - 8px));
        column-gap: 16px;
    }
}
