.rate__area {
    margin-bottom: 8px;
}

.rate-average {
    position: relative;
    display: inline-block;
    width: calc(16px * 5 + 8px);
    height: 16px;
    vertical-align: text-top;
    font-size: 16px;
}

.rate-average::before,
.rate-average::after {
    content: "★★★★★";
    color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
}

.rate-average::after {
    color: #ffcc00;
    overflow: hidden;
}

.rate-average[data-rate="0"]::after {
    width: 0px;
}

.rate-average[data-rate="0.5"]::after {
    width: calc(16px * 0.5);
}

.rate-average[data-rate="1"]::after {
    width: calc(16px * 1);
}

.rate-average[data-rate="1.5"]::after {
    width: calc(16px * 1.5);
}

.rate-average[data-rate="2"]::after {
    width: calc(16px * 2);
}

.rate-average[data-rate="2.5"]::after {
    width: calc(16px * 2.5);
}

.rate-average[data-rate="3"]::after {
    width: calc(16px * 3);
}

.rate-average[data-rate="3.5"]::after {
    width: calc(16px * 3.5);
}

.rate-average[data-rate="4"]::after {
    width: calc(16px * 4);
}

.rate-average[data-rate="4.5"]::after {
    width: calc(16px * 4.5);
}

.rate-average[data-rate="5"]::after {
    width: calc(16px * 5);
}

#open_review {
    margin-right: 10%;
}

.reviews-count {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.rate-input__area {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.rate-item {
    display: none;
}

.rate-input__area label {
    position: relative;
    padding: 0 4px;
    color: #ccc;
    cursor: pointer;
    font-size: 40px;
}

.rate-input__area label:hover {
    color: #ffcc00;
}

.rate-input__area label:hover~label {
    color: #ffcc00;
}

.star-value {
    margin-left: 16px;
    padding-top: 12px;
    font-size: 24px;
    font-weight: bold;
}

.rate-item:checked~label {
    color: #ffcc00;
}

@media (max-width: 768px) {
    .rate__area {
        font-size: 16px;
    }

    .rate-average {
        width: calc(16px * 5 + 2px);
        font-size: 16px;
    }
}
