.container {
    margin-bottom: 0px;
}

.review-list__container {
    width: 100%;
    margin: 0 auto;
    background: rgba(230, 230, 230);
}

.review-list__inner {
    display: flex;
}

.shop__area {
    width: 50%;
    padding: 16px;
}

.shop-detail-title {
    margin-bottom: 16px;
}

.prev {
    padding: 2px 8px;
    margin-right: 16px;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
    display: inline-block;
    text-decoration: none;
    background: #fff;
}

.shop-name {
    display: inline-block;
    font-size: 32px;
    vertical-align: middle;
}

.image {
    width: 90%;
    object-fit: cover;
    margin-bottom: 16px;
}

.category {
    margin-bottom: 8px;
}

.about {
    min-height: 80px;
    margin-bottom: 32px;
}

.review__area {
    width: 50%;
    border-left: 8px solid #ccc;
}

.review__inner {
    height: 100%;
    padding: 32px 16px;
    background: #fff;
    overflow: scroll;
    overflow-x: hidden;
}

.review__header {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.review__content {
    padding: 16px;
    border-bottom: 1px solid #ccc;
}

.edit-btn {
    text-align: right;
}

.delete-review {
    border: none;
    border-bottom: 1px solid #000;
    background: inherit;
    line-height: 0.95;
    cursor: pointer;
}

.user__area {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-bottom: 8px;
    position: relative;
}

.user-icon,
.user-icon--default {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.user-icon {
    z-index: 2;
}

.reviewer {
    margin-left: 50px;
}

.updated-at,
.rate {
    margin-bottom: 8px;
}

.updated-at {
    color: #aaa;
}


.rated {
    color: #ffcc00;
}

.unrated {
    color: #ccc;
    ;
}

.rate-value {
    margin-left: 8px;
}

@media (max-width: 768px) {
    .review-list__inner {
        display: block;
    }

    .shop__area {
        width: 100%;
        padding-bottom: 8px;
    }

    .review__area {
        width: 100%;
        border-left: none;
    }

    .review__inner {
        height: auto;
        overflow: auto;
    }
}
