/* app.blade.php */
.container {
    margin-bottom: 0;
}

/* review.blade.php */
.review__container {
    width: 60%;
    padding: 40px 32px;
    margin: 0 auto;
    background: #fff;
}

.review__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 64px;
    border-bottom: 1px solid #ccc;
}

.header-title {
    padding-left: 16px;
}

.close {
    padding: 8px;
    margin-right: 16px;
    text-decoration: none;
    background: rgb(70, 115, 250);
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
}

.rate__content {
    margin-bottom: 8px;
}

.rate--title {
    font-size: 20px;
}

.rate__form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.rate-item {
    display: none;
}

.rate__form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
}

.rate__form label:hover {
    color: #ffcc00;
}

.rate__form label:hover~label {
    color: #ffcc00;
}

.star-value {
    margin-left: 16px;
    padding-top: 12px;
    font-size: 20px;
    font-weight: bold;
}

.rate-item:checked~label {
    color: #ffcc00;
}

.review__content {
    margin-bottom: 16px;
}

.review--title {
    font-size: 20px;
    margin-bottom: 8px;
}

.review {
    width: 100%;
    height: 20vh;
    padding: 8px 16px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
}

.btn {
    width: 30%;
    display: block;
    padding: 8px 0;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: rgb(60, 110, 250);
    color: #fff;
    font-size: 16px;
}

.error-message {
    margin: 8px 0 0 16px;
    color: rgb(250, 80, 80);
    font-weight: bold;
}

@media (max-width: 768px) {
    .review__container {
        width: 90%;
    }

    .header-title {
        font-size: 20px;
    }

    .btn {
        width: 100%;
        font-size: 20px;
        font-weight: bold;
    }
}
