* {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
}

.container {
    margin-bottom: 0px;
}

.shop-detail__container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.shop-detail__area {
    width: 43%;
    margin-right: 7%;
}

.prev {
    padding: 2px 8px;
    margin-right: 16px;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
    display: inline-block;
    text-decoration: none;
    background: #fff;
}

.shop-name {
    display: inline-block;
    font-size: 32px;
    vertical-align: middle;
}

.image {
    width: 100%;
    object-fit: cover;
    margin-bottom: 32px;
}

.category {
    margin-bottom: 32px;
}

.reservation__area {
    width: 50%;
    height: 90vh;
    position: absolute;
    top: -80px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
    background: rgb(60, 110, 250);
    color: #fff;
}

.reservation__content {
    padding: 32px 48px 0 24px;
}

.reservation__title {
    margin-bottom: 32px;
}

.input--date,
.select--time,
.select--number {
    width: 30%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-item {
    margin-bottom: 24px;
}

.select--time,
.select--number {
    width: 100%;
}

.reservation__items {
    margin-right: 16px;
    padding: 24px 32px;
    border-radius: 4px;
    background: rgb(100, 140, 250);
}

.reservation__item {
    margin-bottom: 8px;
    display: flex;
}

.reservation__item--title {
    width: 20%;
}

.reservation__item--data {
    font-size: 16px;
    border: none;
    background: inherit;
    color: #fff;
}
.reservation__button {
    width: 100%;
    padding: 16px 0;
    border: none;
    border-radius: 0 0 4px 4px;
    font-size: 20px;
    background: blue;
    color: #fff;
}

.error-message {
    color: rgb(250, 80, 80);
    margin-top: 8px;
}

@media (max-width: 768px) {
    .app {
        height: auto;
    }

    .shop-detail__area {
        width: 100%;
        margin-right: 0;
        margin-bottom: 48px;
    }

    .reservation__area {
        width: 100%;
        height: auto;
        position: static;
        top: 0;
        left: 0;
    }

    .reservation__items {
        margin-bottom: 48px;
    }
}
