.container {
    margin-bottom: 32px;
}

.shopkeeper__container {
    width: 90%;
    margin: 0 auto;
}

.shopkeeper__title {
    text-align: center;
    margin-bottom: 16px;
}

.shopkeeper__inner {
    width: 100%;
    display: flex;
}

.reservation__content {
    width: 50%;
}

.reservation__title {
    margin-bottom: 16px;
}

.reservation__area {
    width: 80%;
    height: 310px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
    background: rgb(60, 110, 250);
    color: #fff;
}

.reservation-header {
    padding: 40px 0 24px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reservation-title {
    display: flex;
    align-items: center;
}

.clock {
    font-size: 28px;
    margin-right: 24px;
    color: #fff;
}

.cancel {
    vertical-align: top;
    border: none;
    background: inherit;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}

.reservation__item {
    padding: 12px 32px;
    display: flex;
}

.reservation__item--title {
    width: 30%;
}

.reservation__item--data {
    width: 120px;
    border: none;
    background: inherit;
    color: #fff;
    font-size: 16px;
}

.number {
    width: 20px;
}

.shop__inner {
    width: 50%;
}

.shop__content {
    padding: 32px;
    background: #fff;
}

.shop__title {
    margin-bottom: 16px;
}

.shop__item {
    margin-bottom: 16px;
    display: flex;
}

.shop__item--overview {
    margin-bottom: 16px;
}

.label {
    text-align: left;
    width: 100px;
}

.label--overview {
    display: block;
    margin-bottom: 8px;
}

.input {
    width: 30%;
    padding: 8px;
    font-weight: bold;
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
}

.form--select {
    width: 30%;
    position: relative;
}

.form--select:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 14px;
    width: 8px;
    height: 8px;
    border-top: 5px solid #ccc;
    border-left: 5px solid #ccc;
    transform: translateY(-50%) rotate(-135deg);
    pointer-events: none;
}

.select {
    width: 100%;
    padding: 8px;
    font-weight: bold;
    border:1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.overview {
    width: 100%;
    height: 150px;
    padding: 8px 16px;
    line-height: 1.5;
}

.error-message {
    color: rgb(250, 80, 80);
    margin: 0 0 16px 8px;
}

.success-message {
    margin: 0 0 16px 8px;
    color: rgb(125, 250, 80);
    font-weight: bold;
}

.button-area {
    text-align: right;
}

.update,
.create {
    display: block;
    width: 30%;
    padding: 8px 0;
    margin: 0 auto 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: rgb(60, 110, 250);
    color: #fff;
    font-size: 16px;
}

@media (max-width: 768px) {
    .shopkeeper__container {
        padding-bottom: 32px;
    }

    .shopkeeper__inner {
        display: block;
    }

    .reservation__content {
        width: 100%;
    }

    .reservation__area {
        width: 100%;
        margin-bottom: 64px;
    }

    .shop__inner {
        width: 100%;
    }

    .overview {
        width: 100%;
    }

    .update,
    .create {
        width: 100%;
    }
}
