/* app.blade.php */
.container {
    margin-bottom: 0px;
}

/* shop_list.blade.php */
select:focus {
    outline: none;
}

option {
    font-weight: bold;
    font-size: 14px;
}

.sort-shop__area {
    position: fixed;
    top: 44px;
    left: 33%;
    width: 280px;
    z-index: 10;
}

.select--sort {
    width: 100%;
    padding: 16px 0 8px 16px;
    background: #fff;
    border: none;
    border-left: 16px solid rgb(230, 230, 230);
    border-right: 100px solid rgb(230, 230, 230);
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ie対応 */
.select--sort::-ms-expand {
    display: none;
}

.search-shop__area {
    position: fixed;
    top: 44px;
    left: 50%;
    width: 45%;
    padding: 8px 0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
    border: none;
    z-index: 10;
}

.search-form {
    display: flex;
}

.form--select {
    width: 120px;
    position: relative;
}

.form--select:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 14px;
    width: 8px;
    height: 8px;
    border-top: 5px solid #ccc;
    border-left: 5px solid #ccc;
    transform: translateY(-50%) rotate(-135deg);
    pointer-events: none;
}

.select--area,
.select--genre {
    width: 100%;
    padding: 8px;
    font-weight: bold;
    background: #fff;
    border: none;
    border-right: 1px solid rgb(230, 230, 230);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select--area {
    border-radius: 4px 0 0 4px;
}

.form--input {
    display: flex;
    border-radius: 0 4px 4px 0;
}

.search {
    margin: 4px 8px 0 0;
    vertical-align: top;
    color: rgb(230, 230, 230);
}

.input-search {
    width: 100%;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.shop-list__container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 48px;
}

.item-list {
    display: grid;
    grid-template-columns: repeat(4, calc((100% / 4) - 12px));
    column-gap: 16px;
    row-gap: 32px;
}

.item {
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px gray;
}

.image {
    width: 100%;
    height: 160px;
    border-radius: 4px;
    object-fit: cover;
}

.item__content {
    padding: 16px 16px 16px 32px;
}

.category {
    display: flex;
    margin-bottom: 8px;
}

.category--area {
    margin-right: 8px;
}

.item__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.details {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: rgb(60, 110, 250);
    color: #fff;
}

.bookmark,
.unbookmark {
    vertical-align: middle;
    font-size: 36px;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}

.bookmark:hover,
.unbookmark:hover {
    opacity: .7;
}

.bookmark {
    color: red;
}

.unbookmark {
    color: #ddd;
}

.top {
    display: none;
}

@media (max-width: 768px) {
    .sort-shop__area {
        position: static;
        width: 65%;
        margin: 0 20% 20px;
    }

    .select--sort {
        border-right: 48px solid rgb(230, 230, 230);
    }

    .search-shop__area {
        position: static;
        width: 80%;
        margin: 0 auto 40px;
    }

    .search-form {
        display: block;
    }

    .form--select {
        display: inline;
        width: 24%;
    }

    .select--area,
    .select--genre {
        width: 49%;
    }

    .form--input {
        width: 100%;
        margin-top: 8px;
        border-top: 1px solid rgb(230, 230, 230);
    }

    .item__content {
        padding: 8px 8px 16px 16px;
    }

    .item-list {
        grid-template-columns: repeat(2, calc((100% / 2) - 8px));
    }

    .item {
        margin-bottom: 24px;
    }

    .category {
        font-size: 12px;
    }

    .category--area {
        margin-bottom: 8px;
    }

    .shop-list__container {
        width: 100%;
    }

    .top {
        display: block;
        position: fixed;
        right: 20px;
        bottom: 20px;
        padding: 4px;
        background: rgb(60, 110, 250);
        transition: .3s;
        opacity: .7;
    }

    .top:hover {
        opacity: .3;
    }

    .arrow-upward {
        color: #fff;
        vertical-align: bottom;
    }
}
